# Python virtual environment
.env/

# Node modules
node_modules/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Large data files
*.csv
*.xlsx

# Postman exports
*.json

# OS files
.DS_Store
Thumbs.db
